@font-face {
  font-family: 'Din';
  src: url('~@/assets/fonts/D-DIN.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Din';
  src: url('~@/assets/fonts/D-DIN-Bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Digib';
  src: url('~@/assets/fonts/DS-DIGIB.TTF');
}

@font-face {
  font-family: 'NanShen';
  src: url('~@/assets/fonts/NanShen.otf') format('opentype');
}

@font-face {
  font-family: 'YouShe';
  src: url('~@/assets/fonts/YouShe.ttf');
}

@font-face {
  font-family: 'BsStatic';
  src: url('~@/assets/fonts/BS_STATIC_BOLD.TTF');
}
